@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Arial, Helvetica, sans-serif;
     overflow-x: hidden;
    
}

*{
    margin: 0px;
    padding: 0px;
}



/* Hide scrollbar but allow scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

